{% load static %}
<!DOCTYPE html>
<html>
<head>

	{% block title %}

	<title> </title>
	{% endblock %}

	<link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">

	<link rel="stylesheet" type="text/css" href="{% static 'account/styles/style.css' %}">

</head>
<body>
<!-- The navigational bar -->

<div class="flex justify-between px-6 py-2 bg-white shadow-sm">
	
<div class="flex">
	<img src="{% static 'account/images/Utiva.jpg' %}" class="h-8 w-8 rounded-full">


	<span class="text-purple-800 text-lg tracking-wider ml-2"> Utiva</span>

</div>

<div class="flex">
		

	<a href="{% url 'register' %}"  class="text-white bg-purple-800 rounded-lg px-2 py-2 text-sm tracking-wide"> Get started</a>	

	
</div>


</div>

<!-- End of the navigational bar -->

{% block body %}

{% endblock%}




</body>
</html>